<div id="recipes" class="transitions-enabled">
    <% @recipe.each do |recipe| %>
        <div class="box panel panel-default">
            <%= link_to (image_tag recipe.image.url, class: "img-responsive"), recipe_path(recipe) if recipe.image_stored?  %>
            <div class="caption panel-body">
                <h4><%= link_to recipe.recipe_name, recipe_path(recipe) %></h4>
                <p><%= recipe.description %></p>
            </div>
            <div class="panel panel-footer glyphicon glyphicon-user"> <%= recipe.user.username %></div>
        </div>
    <% end %>
</div>