<div class="row">
    <% @recipe.each do |recipe| %>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <%= link_to (image_tag recipe.image.thumb('350x300').url), recipe_path(recipe) if recipe.image_stored?  %>
                <div class="caption">
                    <h4><%= link_to recipe.recipe_name, recipe_path(recipe) %></h4>
                    <p><%= recipe.description %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>