<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <!-- navigation bar -->
        <nav class="nav navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div>
                    <a class="navbar-brand" href="#">recipe</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Add Recipe</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-static-top">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                </ul>
            </div>
        </nav>
        
        <!-- featured recipes are displayed here -->
        <div class="container">
            <h2>Featured Recipes</h2>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2010/12/28/4/FNM_010111-WEDinners-007_s4x3.jpg.rend.hgtvcom.616.462.jpeg" alt="Featured Recipes" />
                        <div class="caption">
                            <h4>Random Picture</h4>
                            <p>This is just a placeholder text that will be edited in the near future.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2010/12/28/4/FNM_010111-WEDinners-007_s4x3.jpg.rend.hgtvcom.616.462.jpeg" alt="Featured Recipes"/>
                        <div class="caption">
                            <h4>Random Picture</h4>
                            <p>This is just a placeholder text that will be edited in the near future.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2010/12/28/4/FNM_010111-WEDinners-007_s4x3.jpg.rend.hgtvcom.616.462.jpeg" alt="Featured Recipes" />
                        <div class="caption">
                            <h4>Random Picture</h4>
                            <p>This is just a placeholder text that will be edited in the near future.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- recommended recipes are displayed here -->
            <h2>Recommended Recipes</h2>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2009/3/26/0/burger_Flay_mushroom_s4x3.jpg.rend.hgtvcom.616.462.jpeg" alt="Recommended Recipes" />
                        <div class="caption">
                            <h4>Random Picture</h4>
                            <p>This is just a placeholder text that will be edited in the near future.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2009/3/26/0/burger_Flay_mushroom_s4x3.jpg.rend.hgtvcom.616.462.jpeg" alt="Recommended Recipes" />
                        <div class="caption">
                            <h4>Random Picture</h4>
                            <p>This is just a placeholder text that will be edited in the near future.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2009/3/26/0/burger_Flay_mushroom_s4x3.jpg.rend.hgtvcom.616.462.jpeg" alt="Recommended Recipes" />
                        <div class="caption">
                            <h4>Random Picture</h4>
                            <p>This is just a placeholder text that will be edited in the near future.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- new recipes are displayed here -->
            <h2>New Recipes</h2>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://finedininglovers.cdn.crosscast-system.com/BlogPost/l_2471_lamb-shank.jpg" alt="New Recipes" />
                        <div class="caption">
                            <h4>Random Picture</h4>
                            <p>This is just a placeholder text that will be edited in the near future.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://finedininglovers.cdn.crosscast-system.com/BlogPost/l_2471_lamb-shank.jpg" alt="New Recipes" />
                        <div class="caption">
                            <h4>Random Picture</h4>
                            <p>This is just a placeholder text that will be edited in the near future.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://finedininglovers.cdn.crosscast-system.com/BlogPost/l_2471_lamb-shank.jpg" alt="New Recipes" />
                        <div class="caption">
                            <h4>Random Picture</h4>
                            <p>This is just a placeholder text that will be edited in the near future.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>&copy Copyright 2017 Team Unicorn, All Rights Reserved</p>
        </footer>
    </body>
</html>