
<h2>Featured Recipes</h2>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2010/12/28/4/FNM_010111-WEDinners-007_s4x3.jpg.rend.hgtvcom.616.462.jpeg" alt="Featured Recipes" />
            <div class="caption">
                <h4>Random Picture</h4>
                <p>This is just a placeholder text that will be edited in the near future.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2010/12/28/4/FNM_010111-WEDinners-007_s4x3.jpg.rend.hgtvcom.616.462.jpeg" alt="Featured Recipes"/>
            <div class="caption">
                <h4>Random Picture</h4>
                <p>This is just a placeholder text that will be edited in the near future.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2010/12/28/4/FNM_010111-WEDinners-007_s4x3.jpg.rend.hgtvcom.616.462.jpeg" alt="Featured Recipes" />
            <div class="caption">
                <h4>Random Picture</h4>
                <p>This is just a placeholder text that will be edited in the near future.</p>
            </div>
        </div>
    </div>
</div>

<!-- recommended recipes are displayed here -->
<h2>Recommended Recipes</h2>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2009/3/26/0/burger_Flay_mushroom_s4x3.jpg.rend.hgtvcom.616.462.jpeg" alt="Recommended Recipes" />
            <div class="caption">
                <h4>Random Picture</h4>
                <p>This is just a placeholder text that will be edited in the near future.</p>
            </div>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2009/3/26/0/burger_Flay_mushroom_s4x3.jpg.rend.hgtvcom.616.462.jpeg" alt="Recommended Recipes" />
            <div class="caption">
                <h4>Random Picture</h4>
                <p>This is just a placeholder text that will be edited in the near future.</p>
            </div>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2009/3/26/0/burger_Flay_mushroom_s4x3.jpg.rend.hgtvcom.616.462.jpeg" alt="Recommended Recipes" />
            <div class="caption">
                <h4>Random Picture</h4>
                <p>This is just a placeholder text that will be edited in the near future.</p>
            </div>
        </div>
    </div>
</div>

<!-- new recipes are displayed here -->
<h2>New Recipes</h2>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://finedininglovers.cdn.crosscast-system.com/BlogPost/l_2471_lamb-shank.jpg" alt="New Recipes" />
            <div class="caption">
                <h4>Random Picture</h4>
                <p>This is just a placeholder text that will be edited in the near future.</p>
            </div>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://finedininglovers.cdn.crosscast-system.com/BlogPost/l_2471_lamb-shank.jpg" alt="New Recipes" />
            <div class="caption">
                <h4>Random Picture</h4>
                <p>This is just a placeholder text that will be edited in the near future.</p>
            </div>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://finedininglovers.cdn.crosscast-system.com/BlogPost/l_2471_lamb-shank.jpg" alt="New Recipes" />
            <div class="caption">
                <h4>Random Picture</h4>
                <p>This is just a placeholder text that will be edited in the near future.</p>
            </div>
        </div>
    </div>
</div>