/* html formatting */
html {
    height: 100%;
}

body {
    margin: 0;
    padding-top: 50px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: black;
    
    p {
        color: gray;
    	text-align: center;
        margin: 15px;
    }
}

.content {
    flex: 1;
    padding: 20px;
}

/* styles for views */
input[type=text] {
    width: 100%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 250px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.show-text-formatting {
    p {
        margin-top: 0;
        padding-top: 0;
    }
    h4 {
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 25px;
    }
}